
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.shop, .home ,.about-us,.cart {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 71px;
    margin: 30px auto;
}
nav img{
    height: 82px;
    width: 135px;
}
.links{
    display: flex;
    gap: 48px;
   
}
.link{
    text-decoration: none;
}
.home{
    font-size: 1 rem;
    font-weight: bold;
    color: #252432;

}



.banner{
    height: 461px;
    width: 1140px;
    display: flex;
    margin: 101px auto;
   
    
     
}
.banner-about{
    height: 299px;
    width: 570px;
    margin-top: 162px;

    
}
.banner-about h1{
    font-size: 4rem;
    font-weight: bold;
    width:570px;
    height: 178px;
    margin-bottom: 0px;

}
.banner-about p{
    font-size: 1.375rem;
     font-weight: 400;
     height: 108px;
     width: 570px;
     margin-top: 0px;
     color: rgba(0, 0, 0, 0.5);
    

}
.banner-photo{
   
    
    height: 355px;
    width: 570px;
     margin-top: 106px;
  
    
}

.section1{
    width: 1140px;
    height: 1187px;
   
     margin:139px auto ;
}

.intro {
    width: 1140px;
    height: 138px;
   text-align: center;
   margin-top: 0px;
   
    

}
.intro h1{
    font-size: 3.125rem;
    font-weight: bold;
    height: 68px;
    width: 1140px;
   
}
.intro p{
    font-size: 1.375rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    height: 54px;
    width: 888px;
    margin: 0px auto;
}
.card-container{
    width: 1140px;
    height: 1000px;
    
    margin-top:49px ;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 30px;
    column-gap: 10px;
    
     


}
.card{
    
    height: 485px;
    width: 270px;
}
.flower-photo{
    width: 270px;
    height: 323px;
  


}
.buying-section{
    width: 270px;
    height: 132px;
   
    margin-top:30px ;
    
}
.flower-name-rate{
     width: 132px;
    height: 52px;
    margin: 0px auto;
    
    

}
.flower-name{
    font-size: 1.375rem;
    font-weight: 400;
    width: 132px;
    height: 16px;
    margin-bottom: 20px;
    text-align: center;
     
    
  
}
.rate{
    font-size: 1.375rem;
    font-weight: bold;
    width: 81px;
    height: 16px;
margin: 0 auto;

     
    
}
.button{
    width: 270px;
    height: 50px;
    font-size: 1rem;
    background-color:#E95A08 ;
    color: #FFFFFF;
    margin-top: 30px;
}