
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
 .banner-about h1,.intro h1,.description h1{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.shop, .home ,.about-us,.cart ,.description li,.banner-about p,.intro p,.flower-name-rate,.button,.description ul,.section6{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 71px;
    margin: 30px auto;
}
nav img,.footer-first-column img{
    height: 82px;
    width: 135px;
}
.links{
    display: flex;
    gap: 48px;
   
}
.link{
    text-decoration: none;
}
.home{
    font-size: 1 rem;
    font-weight: bold;
    color: #252432;

}
.shop,.about-us{
    color: #8987A1;
    font-size: 1rem;
    font-weight: 400;
}
.cart{
     color: #000000;
    font-size: 1rem;
    font-weight: 400;
}



.banner{
    height: 461px;
    width: 1140px;
    display: flex;
    margin: 101px auto;
   
    
     
}
.banner-about{
    height: 299px;
    width: 570px;
    margin-top: 162px;

    
}
.banner-about h1{
    font-size: 4rem;
    font-weight: bold;
    width:570px;
    height: 178px;
    margin-bottom: 0px;

}
.banner-about h1 span,.intro h1 span{
    color: #E95A08;
}
.banner-about p{
    font-size: 1.375rem;
     font-weight: 400;
     height: 108px;
     width: 570px;
     margin-top: 0px;
     color: rgba(0, 0, 0, 0.5);
    

}
.banner-photo{
   
    
    height: 355px;
    width: 570px;
     margin-top: 106px;
  
    
}

.section1{
    width: 1140px;
    height: 1187px;
   
     margin:139px auto ;
}

.intro {
    width: 1140px;
    height: 138px;
   text-align: center;
   margin-top: 0px;
   
    

}
.intro h1{
    font-size: 3.125rem;
    font-weight: bold;
    height: 68px;
    width: 1140px;
   
}
.intro p{
    font-size: 1.375rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    height: 54px;
    width: 888px;
    margin: 0px auto;
}
.card-container{
    width: 1140px;
    height: 1000px;
    
    margin-top:49px ;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 30px;
    column-gap: 10px;
    
     


}
.card{
    
    height: 485px;
    width: 270px;
}
.flower-photo{
    width: 270px;
    height: 323px;
  


}
.buying-section{
    width: 270px;
    height: 132px;
   
    margin-top:30px ;
    
}
.flower-name-rate{
     width: 132px;
    height: 52px;
    margin: 0px auto;
    
    

}
.flower-name{
    font-size: 1.375rem;
    font-weight: 400;
    width: 132px;
    height: 16px;
    margin-bottom: 20px;
    text-align: center;
     
    
  
}
.rate{
    font-size: 1.375rem;
    font-weight: bold;
    width: 81px;
    height: 16px;
margin: 0 auto;

     
    
}
.button{
    width: 270px;
    height: 50px;
    font-size: 1rem;
    background-color:#E95A08 ;
    color: #FFFFFF;
    margin-top: 30px;
    border: none;
}
.section2{
    height: 597px;
    width:1140px;
    
    margin:210px auto ;
    display: flex;
    gap: 60px;

}
.description{
    height: 521px;
    width: 540px;
    
    margin-top: 38px;
   
}
.description h1{
    height: 137px;
    width: 540px;
    
    font-size: 3.125rem;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;


}
.description ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
  
    margin-top: 20px;
   
}
.description li{
    height: 108px;
    width: 500px;
    
    font-size: 1.375rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
   
}
.section3{
    width: 1140px;
    height: 138px;
   
     margin:133px auto ;
}
.section4{

    width: 1140px;
    height: 423px;
    margin: 120px auto;
    display: flex;
    gap:28px;
}
.photo1-photo2{
     height: 423px;
    width: 367px;
    display: flex;
    flex-direction: column;
    gap: 25px;

}
.photo1,.photo2{
    height: 201px;
    width: 367px;
    border-radius: 10px;

}
.photo3{
     height: 423px;
     width: 753px;
     border-radius: 10px;
}
.contain-photo3{
    
}
.section5{
     
    width: 1440px;
    height: 533px;
    margin: 120px auto;

}
.section6{
    
    width: 1140px;
    height: 248px;
    margin:80px auto;
    display: flex;
    gap: 110px;
    color:rgba(0, 0, 0, 0.5) ;
}

.footer-first-column{
    height: 179px;
    width: 359px;
    font-size: 1.375rem;

}
.footer-second-column{
    height: 248px;
    width: 85px;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
   

}
.footer-third-column{
     height: 248px;
    width: 128px;
     display: flex;
    flex-direction: column;
     font-size: 1rem;
}
.footer-fourth-column{
    height: 36px;
    width: 240px;
    display: flex;
    justify-content: space-between;
  
}